@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@media(max-width: 1000px){
    header #bar-icon {
        display: flex;
    }
    header .need_hide{
        display: none;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    background-color: #00a19a;
}

.nav_box_web{
    display: flex;
    justify-content: flex-start;
}

.nav_box_web_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav_box_web_list li {
    font-size: 20px;
    padding: 5px;
    margin: 0px;
}

.nav_box_web_list li a{
    color: #ebeded;
    text-decoration: none;
}

.nav_box_mobile{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#bar-icon{
    color: #ebeded;
    display: none;
}

#close-btn{
    color: black;
    position: inherit;
    top: 1rem;
    left: 160px;
    font-size: 28px;
}

.nav_box_mobile_list{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #ebeded;
    font-size: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav_box_mobile_list li{
    padding: 10px;
}

.nav_box_mobile_list a{
    color: #00a19a;
    text-decoration: none;
}

#first_item {
    margin-top: 50px;
}

.nav_box_web_list .dropdown-menu{
    background-color: #00a19a;
}

.dropdown-menu .dropdown-item{
    color: #ebeded;
}

.nav_user .dropdown-menu{
    background-color: black;
}

.dropdown-menu .dropdown-item{
    color: #ebeded;
}

.text-white{
    color: #ebeded;
}

.nav_box_mobile_list .dropdown-menu{
    background-color: #00a19a;
}

.container {
    padding: 10px;
}

body .row {
    margin-top: 10px;
    padding: 10px;
}

.nav_user{
    color: #ebeded;
    padding: 15px;
    right: 0;
    margin-left: auto;
    font-size: 20px;
}

.nav_user a{
    text-decoration: none;
    color: #ebeded;
    padding: 10px;
}