{% extends 'base.html' %}

{% block title %} Confirm Delete {% endblock title %}

{% block css %}
<style>
    .confirm_delete h6{
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 20px;
    }
</style>
{% endblock css %}

{% block content %}
<form method="post">{% csrf_token %}
    <a href="{% url 'tasks' %}" class="btn btn-secondary">Back</a>

    <div class="confirm_delete">
        <h6>Are you sure you want to delete "{{ task }}"?</h6>
        <input type="submit" value="Confirm" class="btn btn-danger">
    </div>
</form>
{% endblock content %}