{% extends 'base.html' %}

{% block title %}
Quiz List
{% endblock title %}

{% block script %}
<script>

    function searchQuiz() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('seach_input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("quizs");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function selectCategory() {
        var select, filter, ul, li, a, i, txtValue;
        input = document.getElementById('select_input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("quizs");
        li = ul.getElementsByTagName('li');
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("span")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }

    }

</script>
{% endblock script %}

{% block css %}
<style>
    #quizs {
        padding: 10px;
        margin: 10px;
        list-style: none;
    }

    #quizs li {
        font-size: 20px;
    }

    #quizs li:hover {
        font-size: 22px;
    }

    #quizs li a {
        text-decoration: none;
        color: black;
    }

    #quizs li a:hover {
        color: blue;
    }

    #quizs .need_hide {
        display: none;
    }
</style>
{% endblock css %}


{% block content %}

<div class="form-group">
    <div class="row">
        <div class="col-sm-12">
            <input type='text' placeholder="Search quiz" id="seach_input" onkeyup="searchQuiz()" class="form-control">
        </div>
    </div>
    <div class="row">
        <label for="select_input" class="col-sm-2 col-form-label">Select Category: </label>
        <div class="col-sm-10">
            <select class="form-select col-sm-10" id="select_input" onchange="selectCategory()">
                <option value="">All</option>
                <option value="Math">Math</option>
                <option value="Food">Food</option>
                <option value="Sports">Sports</option>
            </select>
        </div>
    </div>
</div>


<ul id="quizs">
    {% for quiz in quizs %}
    <li><a href="{% url 'quiz_detail' quiz.id %}"> {{quiz.title}}</a> <span class="need_hide"
            id="category">{{quiz.category}}</span> </li>
    {% endfor %}
</ul>

{% endblock content %}